{{#if products.length}}
<div class="row">
    {{#each products}}
    <div class="col-sm-3">
        <div class="card">
            <img src="/images/{{img}}" class="card-img-top" alt="{{name}}">
            <div class="card-body">
                <h5 class="card-title">{{name}}</h5>
                <p class="card-title"><b>{{price}}</b></p>
            </div>
            <div class="d-flex justify-content-between">
                <a href="/admin/products/edit/{{id}}">Change</a>
                <a href="/admin/products/delete/{{id}}">Delete</a>
            </div>
        </div>
    </div>
    {{/each}}
</div>
{{else}}
<h2>Category is empty</h2>
{{/if}}